NEXT_PUBLIC_SPOTIFY_EMBED_URL=https://open.spotify.com/embed/artist/REPLACE_WITH_SPOTIFY_ARTIST_ID
NEXT_PUBLIC_YOUTUBE_CHANNEL_URL=https://www.youtube.com/@rumbo_folclore
NEXT_PUBLIC_YOUTUBE_LATEST_VIDEO=REPLACE_WITH_YOUTUBE_VIDEO_ID
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/rumbo_folclore
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@rumbo_folclore
NEXT_PUBLIC_FORMSPREE_ID=REPLACE_WITH_FORMSPREE_ID
